<body>
    <div class="card">
        <form class="form_container" [formGroup]="user" (ngSubmit)="signUp()" method="post">
            <div class="title_container">
                <p class="title">Create New Account</p>
                <span class="subtitle">Get started with our app, just create an account and enjoy the experience since
                    you
                    are new here.</span>
            </div>
            <br>


            <div class="input_container">
                <label class="input_label" for="email_field">First Name</label>
                <input placeholder="First Name" title="Inpit title" name="input-name" type="text" class="input_field"
                    formControlName="first_name">
                <small *ngIf="r['first_name'].touched && r['first_name'].errors?.['required']" class="error">Please
                    enter your first name</small>
            </div>


            <div class="input_container">
                <label class="input_label" for="email_field">Last Name</label>
                <input placeholder="Last Name" title="Inpit title" name="input-name" type="text" class="input_field"
                    formControlName="last_name">
                <small *ngIf="r['last_name'].touched && r['last_name'].errors?.['required']" class="error">Please enter
                    your last name</small>
            </div>


            <div class="input_container">
                <label class="input_label" for="email_field">Email</label>
                <input placeholder="Email" title="Inpit title" name="input-name" type="text" class="input_field"
                    formControlName="email_address">
                <small *ngIf="r['email_address'].touched && r['email_address'].errors?.['required']" class="error">Please enter
                    your last name</small>


            </div>


            <div class="input_container">
                <label class="input_label" for="password_field">Password</label>
                <input placeholder="Password" title="Inpit title" name="input-name" type="password" class="input_field"
                    formControlName="password">
                <small *ngIf="r['password'].touched && r['password'].errors?.['required']" class="error">Enter your
                    password</small>
            </div>


            <div class="input_container">
                <label class="input_label" for="password_field"> Confirm Password</label>
                <input placeholder="Confirm Password" title="Inpit title" name="input-name" type="password"
                    class="input_field" formControlName="confirmPassword">
                <small *ngIf="r['confirmPassword'].touched && r['confirmPassword'].errors?.['required']"
                    class="error">Confirm your password</small>
            </div>
            <button title="Sign In" type="submit" class="sign-in_btn">
                <span>Sign In</span>
            </button>



        </form>
    </div>
</body>